* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, "Poppins", sans-serif;
}

.project-header h1 {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgb(226, 133, 164);
}

.project-container {
  background: rgb(255, 214, 231);
  padding: 0 5%;
}

.project-container .all-projects {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  /* background: #451235; */
  padding: 100px 50px;
  display: relative;
}

.project-container .all-projects .project-item {
  height: 200px;
  background: rgb(255, 225, 237);
  display: flex;
  margin-bottom: 80px;
  /* background-color: blue; */
}

.project-container .all-projects img {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 16px 0 rgba(231, 15, 141, 0.2),
    0 6px 30px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.project-container .all-projects .project-info {
  width: 100%;
  padding: 30px 0 0 30px;
  box-shadow: 0 4px 16px 0 rgba(231, 15, 141, 0.2),
    0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.project-info h1 {
  font-size: 25px;
}
